.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.App p{
  padding-left: 75px;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#showcase{
  padding: 50px;
  border: 8px solid rgb(185, 201, 129);
  border-radius: 70%;
  background: rgb(228, 14, 96);
}

button{
  width: 75px;
  height: 75px;
  margin: 2px;
  border: none;
}

button:hover{
  opacity: .9;
}