body {
  height: 100vh;
  background-image: linear-gradient(to right, #604acd, #5a56d3, #5461d9, #4f6bde, #4c75e2, #3785eb, #1e94f2, #00a2f7, #00b8fa, #00ccf6, #2ddeee, #6deee6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
